<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='img/css/fontes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <h1>Valdomiro Pereira</h1>
    <h2>Desenvolvedor Python</h2>
    <img src="{{ url_for('static', filename='img/python.jpg') }}" alt="Python" width="400" height="400">
</body>
</html>